*,*::before,*::after {
    box-sizing: border-box;
    --notify-bgcol: #20272b;
    --recieved-bgcol: #262D31;
    --sent-msg-bgcol: #056162;
    --disclaimer-txtcol: #fad964;
}

html,body {
    margin: 0; 
    padding: 0;
    font-family:  'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
    padding: 0;
}

.app {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: #090e11;
}

.main-container {
    position: relative;
    width: 1396px;
    height: calc(100% - 38px);
    top: 19px;
    margin: 0 auto;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.06),0 2px 5px 0 rgba(0,0,0,.2);
    display: flex;
}

.left-section {
    flex: 30%;
    background-color: #131C21;
    height: 100%;
    position: relative;
    overflow:hidden;
}

.right-section {
    flex: 70%;
    height: 100%;
    position: relative;
    border-left: 1px solid #3F4448;
    z-index: 2;
}

.right-section::after {
    position: absolute;
    z-index: -1;
    content: '';
    top: 59px;
    bottom: 59px;
    left: 0;
    right: 0;
    background-image: url(./bg-chat-tile-dark_a4be512e7195b6b733d9110b408f075d2.png);
    opacity: 0.1;

}

.dp-right img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.header-left {
    width: 100%;
    height: 59px;
    background-color: #2A2F32;
    border-right: 1px solid #3F4448;
}

.header-l-container {
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 12px;
}

.dp-image {
    margin-right: auto;
}

.header-l-container a {
    padding: 14px 10px 10px 15px;
}

.header-l-container a:not(.header-l-container a:first-child) {
    padding-top: 15px;
    padding-right: 11px;
}

.dp-image img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.header-right {
    display: flex;
    align-items: center;
    width: 100%;
    height: 59px;
    background-color: #2A2F32;
    border-right: 1px solid #3F4448;
}

.header-right a:first-child {
    padding: 14px 8px 10px 15px;
}

.header-right a:not(.header-right a:first-child) {
    padding: 0 0 0 4px;
}

.right-one {
    margin-left: auto;
    margin-right: 5px;
    padding: 5px 18px 0 0;
}

.header-name {
    line-height: 20px;
    color: #A8AAAC;
    font-size: 12px;
}

.header-name p:first-child {
    line-height: 21px;
    font-size: 16px;
    font-weight: 500;
    color: rgba(241,241,242,0.92);
}

.search-chat {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 49px;
    border-bottom: 1px solid #3F4448;
}

.search-chat::after { 
    content: '';
    position: absolute;
    left: 0; right: 375px;
    bottom: 0; top: 0;
    background-image: url(./search.svg);
    background-repeat: no-repeat;
    background-position: left 25px top 13px;
    color: rgba(241,241,242,0.43);
}

.searchbox {
    width: 93%;
    height: 35px;
    padding: 0 0 0 60px ;
    margin: 0 auto;
    background: #2A2F32;
    font-size: 14px;
    color: rgba(241,241,242,0.43);
    border-radius: 20px;
    border: none;
}

input:focus {
    outline: none;
    color: #fff;
}

.side-pane {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 648px;
    overflow-x: hidden;
    overflow-y: scroll;
    color: #E0E0E2;
    scrollbar-color: hsla(0,0%,100%,.16) transparent;
    scrollbar-width: thin;
}

.tab {
    position: relative;
    display: flex;
    flex: 1 0 10%;
    align-items: center;
    padding: 10px 10px 10px 13px;
    cursor: pointer;
    color: #E0E0E2;
}

.tab::after {
    position: absolute;
    content: '';
    left: 74px;
    right: 0;
    top: 0;
    bottom: 0;
    border-bottom: 1px solid #3F4448;
}

.tab:hover, .tab:visited, .tab:focus {
    background-color: #323739;
}

.tab-dp img {
    width: 49px; height: 49px;
    border-radius: 50%;
}

.tab-name {
    position: relative;
    font-size: 16px; 
    padding-left: 15px;
}

.tab-name p:nth-of-type(2) {
    color: #A8AAAC;
    font-size: 13px;
    padding-left: 23px;
}

.tab-name p:nth-of-type(2):before {
    content: '';
    position: absolute;
    top: 21px;
    bottom: 0;
    left: 15px;
    right: 0;
    background-image: url(seen.svg);
    background-repeat: no-repeat;

}

.photo-ic::before, .video-ic::before, .doc-ic::before { display: none!important; }

.photo-ic::after, .video-ic::after, .doc-ic::after {
    content: '';
    position: absolute;
    top: 21px;
    bottom: 0;
    left: 15px;
    right: 0;
    background-repeat: no-repeat;
}

.photo-ic::after { background-image: url(photo-ic.svg); }

.video-ic::after { background-image: url(video-ic.svg); }

.doc-ic::after { background-image: url(doc-ic.svg); }

.tab-time {
    margin-left: auto;
    font-size: 12px; 
    color: #A8AAAC;
}

.footer {
    display: flex;
    width: 100%;
    height: 59px;
    padding: 5px 10px;
    background-color: #1E2428;
    position: absolute;
    bottom: 0;
}

.msg-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 84%;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-color: hsla(0,0%,100%,.16) transparent;
    scrollbar-width: thin;
    color: #E0E0E2;
    padding: 4% 9%;
}

.msg-body .sent {
    flex: 0 1 auto;
    align-self: flex-end;
    max-width: 65%;
    background-color: var(--sent-msg-bgcol);
    box-shadow: 0 1px .5px rgba(0,0,0,0.13);
    border-radius: 7.5px 0 7.5px 7.5px;
}

.msg-body .recieved {
    flex: 0 1 auto;
    align-self: flex-start;
    max-width: 65%;
    background-color: var(--recieved-bgcol);
    box-shadow: 0 1px .5px rgba(0,0,0,0.13);
    border-radius: 0 7.5px 7.5px 7.5px;
}

.msg-body .msg {
    padding: 10px;
    line-height: 19px;
    font-size: 14.2px;
}

.msg-body .notify {
    align-self: center;
    background-color: #20272b;
    padding: 5px 12px 6px;
    border-radius: 7.5px;
    box-shadow: 0 1px .5px rgba(0,0,0,0.13);
    font-size: 12px;
    line-height: 21px;
    max-width: 100%;
}

.msg-body .disclaimer {
    margin-bottom: 12px;
    color: var(--disclaimer-txtcol);
    cursor: pointer;
}

.msg-body .date { margin: 12px 0 12px 0; }

.msg-image {
    padding: 3px!important;
    max-width: 200px!important;
}

.msg-image img {
    width: 100%;
    height: auto;
    border-radius: 6px;
}

.msg-inline-time {
    font-size: 11px;
    line-height: 15px;
    color: #f1f1f2a1;
    float: right;
    margin: 10px 0 -5px 4px;
}

.blurred-img {
    position: relative;
}

.blurred-img img{
    
    filter: blur(8px);
    -webkit-filter: blur(4px);
}

.foot1 {
    display: flex;
    flex: 8%;
    align-items: center;
    height: 100%;
    width: 400px;
    padding: 5px 10px;
}

.foot1 a:first-child {
    box-sizing: unset;
    padding-right: 8px;
}

.foot1 a:nth-child(2) {
    box-sizing: unset;
    padding: 8px;
}

.foot2 {
    display: flex;
    flex: 90%;
    height: 100%;
    width: 100%;
    padding: 5px 5px;
}

.foot2 svg {
    box-sizing: unset;
    padding: 7px 0 0 19px;
}

.msg-input {
    align-items: center;
    padding: 0 0 4px 12px ;
    background: #33383B;
    border-radius: 16px;
    height: 97%;
    width: 94%;
    border: none;
    color: rgba(212, 213, 215, 0.5);
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    word-wrap: break-word;
    white-space: pre-wrap;
    outline: none;
}